/* for header */
.header-bar{
    width: 100%;
    /* height: 60px; */
    padding: 10px 0;
    background-color: #eefaff;
    box-shadow: 3px 3px 15px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
}

.header-bar > .inner-header-bar{
    width: calc(100% - 30px);
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.inner-header-bar > .logo{
    width: 30%;
}

.inner-header-bar > .menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.inner-header-bar > .menu > li{
    list-style: none;
}

.inner-header-bar > .menu > li> a{
    text-decoration: none;
    color: #262626;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0 10px;
    transition: 0.3s all ease-out;
}

.inner-header-bar > .menu > li > a:hover{
    color: #000000;
    letter-spacing: 0px;
    font-weight: 500;
}

.inner-header-bar > .side-extra-menu{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.inner-header-bar > .side-extra-menu > .modes{
    height: 24px;
    cursor: pointer;
}

.login-btn{
    text-decoration: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    color: #ffffff;
    background-color: rgb(60, 177, 255);
    border: 1px solid rgb(60, 177, 255);
    margin-right: 10px;
    border-radius: 5px;
    padding: 5px 15px;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.2);
    transition: 0.3s all ease;
}

.login-btn:hover{
    background-color: transparent;
    color:rgb(60, 177, 255);
    border: 1px solid rgb(60, 177, 255);
}

.logout-and-profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.profile-icon{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    border: 3px solid #ffffff;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    background-color: #083A55;
    background-image: url('https://cdn-icons-png.flaticon.com/512/149/149071.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    cursor: pointer;
    position: relative;
    z-index: 100;
}

.user-name-on-hover{
    position: absolute;
    z-index: 200;
    background-color: #083A55;
    color: #ffffff;
    display: block;
    width: auto;
    padding: 0;
    margin: 0;
    top: 64px;
    right: 100px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s all ease-out;
}

.profile-icon:hover ~ .user-name-on-hover{
    top: 64px;
    right: 50px;
    visibility: visible;
    opacity: 1;
}

.user-name-on-hover > p{
    padding: 10px 25px;
    margin: 0;
    display: block;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}

.profile-icon > img{
    width: 100%;
}


/* for login page */
.login-wrapper, .register-wrapper{
    width: 100%;
    height: calc(100vh - 67px);
    /* background-image: linear-gradient(30deg,#5d12d6,#ff00aa); */
    background-image: url('https://i.postimg.cc/3RYT25rS/bg-line.png');
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-wrapper > .inner-login, .register-wrapper > .inner-register{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(3px);
    box-shadow: 0px 0px 25px rgba(0,0,0,0.15);
}

.left-login{
    width: 400px;
    height: 550px;
    background-image: url('https://i.postimg.cc/QdnpwhKP/Untitled-design-14.png');
    display: flex;
    justify-content: center;
}

.left-register{
    width: 400px;
    height: 550px;
    background-image: url('https://i.postimg.cc/9Qc8CmMQ/Untitled-design-15.png');
    display: flex;
    justify-content: center;
}

.left-login > h1, .left-register > h1{
    color: #ffffff;
    font-size: 45px;
}

.right-login, .right-register{
    width: 450px;
    height: 550px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.right-login > .inner-right-login, .right-register > .inner-right-register{
    width: calc(100% - 60px);
}

.inner-right-login > .dont-have, .inner-right-register > .dont-have{
    width: 100%;
    text-align: right;
    padding: 15px 0 25px 0;
}

.dont-have > p{
    color: #888888;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
}

.dont-have > p > a{
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 50px;
    border: 1px solid rgb(60, 177, 255);
    color: rgb(60, 177, 255);
    outline: none;
    transition: 0.3s all ease;
}

.dont-have > p > a:hover{
    background-color: rgb(60, 177, 255);
    color: #ffffff;
}

.inner-right-login > h2, .inner-right-register > h2{
    color: #083A55;
    font-size: 25px;
    padding: 0;
    margin: 0;
}

.inner-right-login > p, .inner-right-register > p{
    color: #262626;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 0;
    margin: 0;
}

.inner-right-login > .login-form, .inner-right-register > .register-form{
    width: 100%;
    padding: 25px 0 0 0;
}

.login-form > .form-group, .register-form > .form-group{
    width: 100%;
    margin-bottom: 10px;
}

.form-group > label{
    width: 100%;
    font-size: 15px;
    color: #262626;
    font-weight: 300;
    letter-spacing: 1px;
}

.form-group > .input-form{
    width: calc(100% - 22px);
    padding: 0;
    margin: 0;
    border: none;
    display: block;
    border: 1px solid #888888;
    padding: 6px 10px;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
}

.form-group > .submit-btn-login, .form-group > .submit-btn-register{
    cursor: pointer;
    border: none;
    background-color: rgb(60, 177, 255);
    color: #ffffff;
    padding: 6px 25px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    width: 100%;
    letter-spacing: 2px;
    font-size: 15px;
    transition: 0.3s all ease;
}

.form-group > .submit-btn-login:hover, .form-group > .submit-btn-register:hover{
    background-color: #083A55;
}

.social-login{
    width: 100%;
}

.social-login > p{
    color: #888888;
    display: block;
    text-align: center;
}

.social-login > button{
    width: 100%;
    display: block;
    background-color: #083A55;
    color: #ffffff;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 7px 0;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.3s all ease;
}

.social-login > button.google-login-btn{
    background-color: #ea4335;
}

.social-login > button.github-login-btn{
    background-color: #171515;
}

.social-login > button:hover{
    background-color: #083A55;
}

/* error message */
.error-msg{
    color: rgb(255, 0, 64);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 0;
}


/* home page */
.home-wrapper{
    width: 100%;
}

.hero-section{
    width: 100%;
    height: calc(100vh - 67px);
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inner-hero-section{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.inner-hero-section > .left-hero{
    width: 65%;
}

.left-hero > h1{
    font-size: 4em;
    color: #ffffff;
    padding: 0;
}

.left-hero > p{
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}

.left-hero > a{
    text-decoration: none;
    background-color: transparent;
    border: 2px solid rgb(20, 206, 119);
    color:rgb(20, 206, 119);
    outline: none;
    padding: 15px 35px;
    margin: 0 0 15px 0;
    display: inline-block;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.5px;
    transition: 0.3s all ease-in;
}

.left-hero > a:hover{
    background-color: rgb(20, 206, 119);
    color: #ffffff;
}

.green-color-text{
    color: rgb(20, 206, 119);
}

.left-hero > .bottom-blop{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 100px;
}

.left-hero > .bottom-blop > li{
    list-style: none;
    color: #ffffff;
    font-weight: 300;
    letter-spacing: 1px;
    border: 1px solid #ffffff;
    margin-right: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
}

.left-hero > .bottom-blop > li:last-child{
    margin-right: 0;
}

.inner-hero-section > .right-hero{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* courses page */
.course-wrapper{
    width: 100%;
    /* background-image: url('https://i.postimg.cc/3RYT25rS/bg-line.png'); */
    background-color: #ffffff;
}

.inner-courses{
    width: 100%;
    height: calc(100vh - 67px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.courses-sidebar{
    width: 300px;
    background-color: #eefaff;
}

.courses-sidebar > .inner-courses-sidebar{
    width: calc(100% - 50px);
    padding: 20px 25px 0 25px;
}

.inner-courses-sidebar > .single-side-course{
    width: 100%;
}

.single-side-course > a{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px 15px;
    margin-top: 15px;
    display: block;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.15);
    text-decoration: none;
    color: #083A55;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    transition: 0.3s all ease;
}

.single-side-course > a:hover{
    background-color: rgb(20, 206, 119);
    color: #ffffff;
}

.courses-cards{
    width: calc(100% - 300px);
    background-color: #ffffff;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.courses-cards::-webkit-scrollbar{
    display: none;
}

.courses-cards > h1{
    text-align: center;
    font-size: 2.5em;
    font-weight: 200;
    color: #083A55;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.courses-cards > .inner-courses-cards{
    width: calc(100% - 60px);
    margin: 20px 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.inner-courses-cards > .single-card{
    background-image: linear-gradient(35deg, #ff9a9a, #491edf);
    box-shadow: 7px 7px 20px rgba(0,0,0,0.2);
    border-radius: 15px;
    overflow: hidden;
    padding: 20px
}

.single-card > .img-wrapper{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: red;
    box-shadow: 5px 5px 13px rgba(0,0,0,0.2);
}

.single-card > .img-wrapper > img{
    width: 100%;
    transform: scale(130%);
}

.single-card > h2{
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 1px;
}

.single-card > a{
    text-decoration: none;
    display: block;
    background-color: #ffffff;
    text-align: center;
    font-size: 17px;
    color: #262626;
    letter-spacing: 1px;
    font-weight: 300;
    padding: 10px 0;
    border-radius: 10px;
    transition: 0.3s all ease;
}

.single-card > a:hover{
    background-color: #083A55;
    color: #ffffff;
}

/* course details */
.course-details-wrapper{
    width: 100%;
    background-image: url('https://i.postimg.cc/3RYT25rS/bg-line.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.course-details-wrapper > .inner-course-details{
    width: 60%;
    background-color: rgba(0,0,0,0.1);
    backdrop-filter: blur(4px);
    margin: 40px 0;
    border-radius: 15px;
}

.inner-course-details > .contents-head{
    width: 100%;
    text-align: right;
    padding: 20px 0;
}

.contents-head > button{
    border: none;
    background-color: #083A55;
    color: #ffffff;
    font-size: 16px;
    font-family: 'poppins', sans-serif;
    padding: 10px 25px;
    cursor: pointer;
}

.inner-course-details > .contents-body{
    width: calc(100% - 60px);
    padding: 20px 30px 50px 30px;
}

.contents-body > .img-wrapper-content{
    width: 100%;
    text-align: center;
}

.img-wrapper-content > img{
    width: 60%;
    border: 10px solid #083A55;
    border-radius: 15px;
}

.contents-body > h2{
    font-size: 1.7em;
    font-weight: 500;
    color: #083A55;
    padding: 0 30px
}

.contents-body > p{
    color: #262626;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1.5px;
    line-height: 200%;
    text-align: justify;
    padding: 0 30px;
}

.contents-body > a{
    color: #ffffff;
    background-color: #ff0060;
    padding: 10px 25px;
    text-decoration: none;
    margin-left: 30px;
    border: 3px solid #ffffff;
    display: inline-block;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    transition: 0.3s all ease;
}

.contents-body > a:hover{
    background-color: #ffffff;
    color:#ff0060;
    border: 3px solid #ff0060;
}

/* checkout page */

.checkout-wrapper{
    width: 100%;
    background-image: url('https://i.postimg.cc/3RYT25rS/bg-line.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkout-wrapper > .inner-checkout{
    width: 50%;
    padding: 60px;
    background-color: rgba(0,0,0,0.15);
    backdrop-filter: blur(4px);
    margin: 50px 0;
    border-radius: 15px;
}

.inner-checkout > .course-buy-detail{
    width: 100%;
}

.course-buy-detail > h3{
    text-align: center;
    font-size: 2.5em;
    margin: 0 0 15px 0;
    padding: 0;
    font-weight: 300;
    letter-spacing: 2px;
}

.course-buy-detail > h2{
    text-align: center;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 1px;
}

.course-buy-detail > p{
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
}

.course-buy-detail > .img-wrapper-buy{
    width: 100%;
    text-align: center;
}

.img-wrapper-buy > img{
    border: 10px solid #083A55;
    border-radius: 15px;
    width: 40em;
}

.inner-checkout > .purchase-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.purchase-form > .form-group-checkout{
    width: 300px;
}

.form-group-checkout > label{
    display: block;
}

.form-group-checkout > .text-input{
    display: block;
    width: 100%;
    border: none;
    padding: 6px 10px;
    margin: 0 0 15px 0;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.form-group-checkout > .submit-btn{
    display: inline-block;
    border: none;
    outline: none;
    background-color: #083A55;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    padding: 7px 25px;
}




